---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Layout>
  <!-- <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/blog/${post.id}/`}>
            <img width={720} height={360} src={post.data.heroImage} alt="" />
            <h4 class="title">{post.data.title}</h4>
            <time class="text-xs text-neutral-600">
              Published:
              {new Date(post.data.pubDate).toLocaleDateString("en-ZA", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
          </a>
        </li>
      ))
    }
  </ul> -->

  <ul class="text-sm space-y-2">
    {
      posts.map((post: any) => (
        <li class="bg-neutral-100/50 p-3 rounded-lg">
          <header class="flex flex-col gap-1 justify-between mb-3">
            <a class="text-blue-700" href={`/blog/${post.id}`}>
              <h6 class="font-bold">{post.data.title}</h6>
            </a>
            <time class="text-xs text-neutral-600">
              Published:
              {new Date(post.data.pubDate).toLocaleDateString("en-ZA", {
                year: "numeric",
                month: "short",
                day: "numeric",
              })}
            </time>
          </header>

          <p>{post.data.description}</p>

          <a
            class="flex items-center gap-2 text-sm mt-3 ml-auto text-blue-600"
            href={`/blog/${post.id}`}
          >
            Read more
          </a>
        </li>
      ))
    }
  </ul>
</Layout>
