---
import { ViewTransitions } from "astro:transitions";
import '@fontsource-variable/fira-code';
import Header from "../components/Header.astro";
import Notification from "../components/Notification.astro"
import CTA from "../components/CallToAction.astro";
import Footer from "../components/Footer.astro";
import PostHog from "../components/PostHog.astro";

interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
		<link rel="preload" href="MonaSansVF-Regular" as="font" type="font/woff2" crossorigin>
		<ViewTransitions  />
		<PostHog />
	</head>
	<body class="container mx-auto max-w-3xl flex flex-col gap-6 px-5 min-h-screen">
		<Header />
		<!-- <Notification /> -->
		<main class="mb-auto">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	/* https://github.com/github/mona-sans */
	@font-face {
		font-family: "Mona Sans";
		src:	url("/fonts/mona-sans/MonaSansVF-Regular.woff2") format("woff2 supports variations"), 
				url("/fonts/mona-sans/MonaSansVF-Regular.woff2") format("woff2-variations");
		font-weight: 200 900;
		font-stretch: 75% 125%;
	}

	/* https://github.com/githubnext/monaspace */
	@font-face {
		font-family: "Monaspace Argon";
		src:	url("/font/monaspace/MonaspaceArgonVarVF[wght,wdth,slnt].woff2") format("woff2 supports variations"), 
				url("/font/monaspace/MonaspaceArgonVarVF[wght,wdth,slnt].woff2") format("woff2-variations");
		font-weight: 200 900;
		font-stretch: 75% 125%;
	}
</style>